GRPC_PORT=50051
HTTP_PORT=9090

SERVICE_AUTH_URL=auth:50051
SERVICE_PROFILE_URL=profile:50051
SERVICE_ORCHESTRATION_URL=orchestration:50051
SERVICE_ENGINE_URL=engine:50051
SERVICE_BATTLE_URL=battle:50051
SERVICE_STREAMING_URL=streaming:50051

RABBIT_HOST=rabbitmq
RABBIT_USER=user
RABBIT_PASS=password

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
